@-webkit-keyframes fade {
	0% { opacity:0; -webkit-transform:translate(180px,60px) scale(2.00); }
	15% { opacity:1; -webkit-transform:translate(80px,160px) scale(1.80); }
	30% { opacity:0.5; -webkit-transform:translate(40px,80px) scale(1.40); }
	40% { opacity:0; -webkit-transform:translate(0px,0px) scale(1.00); }
	100% { opacity:0; }
}
@-moz-keyframes fade {
	0% { opacity:0;-moz-transform:translate(180px,60px) scale(2.00);  }
	15% { opacity:1;-moz-transform:translate(80px,160px) scale(1.80); }
	30% { opacity:0.5;-moz-transform:translate(40px,80px) scale(1.40); }
	40% { opacity:0;-moz-transform:translate(0px,0px) scale(1.00); }
	100% { opacity:0; }
}

#CSS3Slideshow, #CSS3Slideshow img 
{ position:absolute 
   
      
      
}
#CSS3Slideshow img 
{ opacity:0; -webkit-animation:fade 24s linear infinite; -moz-animation:fade 24s linear infinite;
}

#CSS3Slideshow
{
overflow:hidden;
top:0px;
left:0px;
width:600px;
height:480px;
margin-left:40px;
 margin-top:130px;
}

#CSS3Slideshow .img2 
{ -webkit-animation-delay:6s; -moz-animation-delay:6s;
}
#CSS3Slideshow .img3 
{ -webkit-animation-delay:12s; -moz-animation-delay:12s;
}
#CSS3Slideshow .img4 
{ -webkit-animation-delay:18s; -moz-animation-delay:18s;
}