/* 
    Document   : layout
    Created on : 26.02.2013, 09:28:55
    Author     : anja.morawietz
    Description:
        Purpose of the stylesheet follows.
*/


#main
{
	width:1400px;
	height:800px;
	}

#left
{
	margin-left:370px;
	border-color:gray;
	border-width:thin;
	width:500px;
	height:300px;
	
}


#leftheader
{
	
	border-color:silver;
	border-width:thin;
	width:500px;
	border-style:solid;

}

#leftmain
{
	
	border-color:silver;
	border-width:thin;
	width:500px;
	border-style:solid;
	height:350px;
}


#right
{
	float:right;
}


#user
{
	width:360px;
	color:silver;
}

#text
{
	margin-left:10px;
	font-size:small;
	color:gray;
	
}

#btn
{
	margin-left:50px;
	width:370px;
	margin-top:30px;
}

#titel
{
	color:gray;
}

#vorteile
{
	
	color:gray;
}

#pfeil

{
float:right;

	
}

#option
{
	margin-left:150px;
	width:360px;
}

#sel1
{
	width:119px;

	color:gray;

}
#sel2
{
	width:119px;

	color:gray;

}

#sel3
{
	width:119px;
	
	color:gray;
}


#select

	
{
	width:370px;
	border-color:green;
	overflow:scroll;

	
	
	
	

	
	
	
	
}

#option2
{
	margin-left:150px;
	width:360px;
		

	
	
}

#suche
{
	width:370px;

	overflow:scroll;
	
	color:gray;
	
	
}

#sobre
{
	color:gray;
}

#vorteileliste
{
	background-image:url('../pixx/pfeil_grau.png'); background-repeat:no-repeat; background-position:right;
}



#left
{
	float:left;
}

#email
{
	width:360px;
	color:gray;
	
}

#passwort
{
	width:360px;
	
}

#pwd
{
	color:gray;
}
#mail
{
	color:gray;
}

#forget
{
	
	margin-left:340px;
	
	
	
}

#anmelden

	{
	
	width:370px;
	margin-left:120px;
}


#loginbtn

	{
	
	width:370px;
	margin-left:120px;
}


a:link
{
	color:#6699FF;
	font-weight:bold;
	
	
	}

.link
{
	color:#6699FF;
}

#logos
{
	float:left;
	padding-top:10px;
}


#logo1
{
	float:left;
	margin-left:5px;
	
}

#logo2
{
	margin-left:20px;
	
}

#logo3
{
	margin-left:15px;
}

#vorteilelinks
{
	margin-left:260px;
}


#service
{
	float:left;
	border-top-color:silver;
	border-right-color:silver;
	border-right-style:solid;
	border-right-width:thin;
	border-top-width:thin;
	width:230px;
	height:90px;
	border-top-style:solid;
	


	
	
}

#hilfe
{
	color:gray;
	margin-left:20px;

	line-height:10px;
	
}

#hotline
{
	color:#666666;
	font-weight:bolder;
	margin-left:20px;
	line-height:5px;
	letter-spacing:0.1em;
	
}

#leftfooter
{
	width:500px;
	height:85px;
	border-right-color:silver;
	border-left-color:silver;
	
	border-bottom-color:silver;
	border-right-style:solid;
	border-left-style:solid;
	border-bottom-style:solid;
	border-right-width:thin;
	border-left-width:thin;
	border-bottom-width:thin;
	
	
	}
	
#daumen
	{
	color:gray;
	letter-spacing:0.1em;
	float:right;
}

#thumbs
{
	margin-left:10px;
	margin-top:10px;
}

#finden
{
	width:370px;
}

#userdaten
{	width:100px;
	height:70px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:#FFCCFF;	
}


#tab

{
	width:50px;
	height:20px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:grey;
}


#nutzer
{
	width:50px;
	height:20px;
	margin-left:200px;
	border-color:black;
	border-style:double;
	border-width:medium;
	background-color:silver;
}


#foto

{
    width:200px;
    height:150px;
   
}

#table

{
    margin-left:710px;
    text-align:center;
    width:450px;
    height:auto;
   
     border-color:black;
    border-style:dotted;
	border-width:medium;
        background-color:threedlightshadow;
    margin-top:100px;
}

#ud
{
    margin-left:130px;
    margin-top:80px;
    border-color:black;
	border-style:double;
	border-width:medium;
	background-color:threedshadow;
        

}

#slideshow2
{
    
    

    float:left;
    margin-left:60px;
    margin-top:20px;
   
    background-color:threedlightshadow;
   width:500px;
    height:550px;
   
    border-color:black;
    border-style:groove;
    border-size:medium;
}


div#gallery
{
    border: 1px #ccc solid;
    width: 700px;
    float:left;
    margin-top:20px;
    margin-left:20px;
  
  
    text-align: center;
    
}
	
div#gallery img
{
    margin: 20px;
    border: 2px #004694 solid;
}
	
div#gallery p
{color: #004694;
}
	
div#gallery div.pn
{padding: 10px;
 margin: 0 5px;
 border-top: 1px #ccc solid;
}
	
a
{
    color:#333;
}
	
a:hover
{
    color:#cc0000;
}
	
a.sp
{
    padding-right: 40px;
}

ul.ppt {
	position: relative;
}

.ppt li 
{
	list-style-type: none;
	position: absolute;
	top: 0;
	left: 0;
}

.ppt img 
{
	border: 1px solid #e7e7e7;
	padding: 5px;
	background-color: #ececec;
}

#slider
{
    float:right;
    margin-right:650px;
     margin-top:100px;
}

#warenkorb

{
    
    width:400px;
    height:400px;
    border-color:#000;
    border-width:thick;
    border-style:double;
    float:right;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;
}

#korb
{
    width:120px;
    height:auto;
    
}


#shop
{
    width:1400px;
    height:800px;
    background-color:#ddd;
    margin-top:80px;
    margin-left:200px;
}

#klamotten
{
    
    width:1200px;
    height:400px;
}

#bild
{
    width:200px;
    
}

#liste

{
    
    display:inline;
    width:100px;
   
}




#ulli
{
    width:800px;
    margin-left:500px;
}

#chose
{
    width:200px;
    float:right;
    margin-right:800px;
}

#ansicht
{
    margin-left:600px;
}

#choseColor
{
    width:200px;
    float:left;
    margin-left:400px;
}

#liste
{
    width:200px;
}

#warenkorb2

{
    
    width:auto;
    height:auto;
    border-color:#000;
    border-width:thick;
    border-style:double;
  margin-left:250px;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;
}

#blanket {
background-color:#111;
opacity: 0.65;
background:none;
position:absolute;
z-index: 9001;
top:0px;
left:0px;
width:100%;
}

#warenkorbPopup{
position:absolute;
background:url(pop-back.jpg) no-repeat;
width:400px;
height:400px;
border:5px solid #000;
z-index: 9002;
 width:400px;
    height:700px;
    border-color:#000;
    border-width:thick;
    border-style:double;
    float:right;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;

}
#warenkorb3
{
     width:auto;
    height:auto;
    border-color:#000;
    border-width:thick;
    border-style:double;
  margin-left:250px;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;
}

#artikel
{
    background-color:black;
    width:600px;
   
}
#mydiv {
  height:200px;
  width:200px;
  background-color:#ff0000;
  
}

.warenkorb3
{
     width:auto;
    height:auto;
    border-color:#000;
    border-width:thick;
    border-style:double;
  margin-left:250px;
    margin-top:50px;
    margin-right:40px;
    background-color:#ccc;
}
